<h1 class="text-center mb-5">Angular 9 Signature Pad</h1>
<div class="signature-pad ml-5 bb">
  <div class="signature-pad--body">
    <canvas #sPad width="860" height="400" style="touch-action: none;" class="bb"></canvas>
  </div>
</div>
<br>
<br>
<section class="container-fluid ml-4">

    <div class="row">
      <div class="col-3">
        <button class="btn btn-block btn-danger" (click)="clear()">Clear</button>
        <button class="btn btn-block btn-warning" (click)="undo()">Undo</button>
        <button class="btn btn-block btn-info" (click)="changeColor()">Change Color</button>
      </div>

      <div class="col-3">
        <button class="btn btn-block btn-success" (click)="savePNG()">PNG</button>
        <button class="btn btn-block btn-primary" (click)="saveJPG()">JPG</button>
        <button class="btn btn-block btn-secondary" (click)="saveSVG()">SVG</button>
      </div>
    </div>

</section>
